page-home {
  .image-container {
    height: 100px;
    width: 100px;
    background-size: cover;
    margin: auto;
    img {
      max-width: 90%;
      border: 5px solid peru;
      border-radius: 10%;
    }
  }
  .image-container-top {
    min-height: 0px;
    background-size: cover;
    border: 5px solid peru;
    border-radius: 10%;
  }
  .hero-name-card {
    text-align: center;
    font-weight: bold;
  }
}
